<div class="row mt-5 mb-3">
  <div class="col-sm-6">
    <label for="identityNumberInput" class="form-label">Ödeme Planı</label>
    <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedInstallment" (ngModelChange)="installmentChange.emit(selectedInstallment)">
      <option value="1">Peşin</option>
      <option value="3">3 Taksit</option>
      <option value="6">6 Taksit</option>
    </select>
  </div>
</div>

<div class="accordion mb-3" id="accordionPriceInfoGroup">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Ödeme Tablosu
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionPriceInfoGroup"
    >
      <div class="accordion-body">
        <table class="table table-bordered">
          <thead class="table-light">
            <tr>
              <th scope="col">Taksit</th>
              <th scope="col">Taksit Tutarı</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of prepareInstallment(); let i = index">
              <td>{{i+1}}. Taksit Ödemesi</td>
              <td>{{item.amount}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        Sigortalı Bilgileri
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="headingTwo"
      data-bs-parent="#accordionPriceInfoGroup"
    >
      <div class="accordion-body">
        <table class="table table-bordered">
          <thead class="table-light">
            <tr>
              <th scope="col">Müşteri isim</th>
              <th scope="col">Toplam ödeme</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-capitalize" >{{ customerFirstName }} {{ customerLastName }}</td>
              <td>{{totalPrice}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<button (click)="callInheritedChangeAgreementPart()" type="button" class="btn btn-success float-end">İleri</button>


