<div class="container mt-5">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid">
      <h2 class="display-5 fw-bold">İletişim</h2>
      <p class="col-md-8 fs-4">
        Projenin asıl bölümü poliçe satın almak bölümündedir. Diğer kısımlar
        routing yapısının bir parçası olması için oluşturulmuştur.
      </p>

      <p class="fs-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias soluta
        assumenda placeat voluptates, in possimus dolore odit laboriosam
        reiciendis natus numquam itaque id eaque necessitatibus sapiente quae et
        repellat! Illum! Lorem ipsum dolor sit amet consectetur, adipisicing
        elit. Neque quod voluptatibus vero est blanditiis eveniet cum, deleniti
        maiores maxime similique repellendus laborum. Distinctio, inventore! Ut
        nisi reprehenderit atque dolore praesentium? Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Deleniti ratione omnis voluptates veniam
        error. Ea expedita ullam odit. Perspiciatis rem placeat labore! Modi et
        velit quisquam dicta iure vitae ducimus!
      </p>
    </div>
  </div>
</div>
